<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="static/css/homepage.css">
</head>
<body>
    <header>
        
        <div id="website-name"><span class="large-letter">H</span>ospital</div>
        <!-- Navigation Bar -->
        <nav>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/mri">MRI </a></li>
                <li><a href="/ventilater">Ventilater</a></li>
                <li><a href="/bloodTest">Blood</a></li>
                <li><a href="/ctScan">CT Scan</a></li>
            </ul>
        </nav>
    </header>
    
    <h1 id="h2">Welcome to the Hospital Machine Failure Prediction System</h1>
    
    <div class="links">
        <div class="links-container">
            <a href="/mri" id="a1">MRI Machine Prediction</a>
            <p id="text-links-container1">Predict MRI machine failure.</p>
        </div>
        <div class="links-container">
            <a href="/ventilater" id="a2">Ventilater Machine Prediction</a>
            <p id="text-links-container2">Predict ventilater machine failure.</p>
        </div>
        <div class="links-container">
            <a href="/bloodTest" id="a3">Blood Test Machine Prediction</a>
            <p id="text-links-container3">Predict blood test machine failure.</p>
        </div>
        <div class="links-container">
            <a href="/ctScan" id="a4">CT Scan Machine Prediction</a>
            <p id="text-links-container4">Predict CT scan machine failure.</p>
        </div>
    </div>
</body>
</html>
